export(distributeFiles, removeDistributedFiles, 
	splitAffyBatch, splitFileVector, splitMatrix,
	bgCorrectPara,
	normalizeAffyBatchQuantilesPara, normalizeAffyBatchInvariantsetPara, normalizeAffyBatchConstantPara, 
	normalizeAffyBatchLoessPara, normalizeAffyBatchLoessIterPara, 
	vsn2Para, justvsnPara, vsnrmaPara,
	computeExprSetPara,
	preproPara, rmaPara,
	mergeAffyBatches, combineMatrices,
	boxplotPara, MAplotPara
)
